body, html 
  line-height: 1
  font-weight: 200
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, Helvetica, sans-serif

// FIXME: 清除浮动
.clearfix
  display: block
  &:after
    display: block
    content: '.'
    height: 0 
    line-height: 0
    clear: both
    visibility: hidden
// FIXME: 根据移动端的DPI不一样进行缩放： 缩放倍数为： DPI* transform, 结合mixin中1px的边框方法制作移动端1px的底部边框效果
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)    

 @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)   
